body{
    background-color: rgb(230, 227, 227);
}
img{
    height: 150px;
    width: 150px;
    float:left;
    margin-left: 80px;
    padding-top: 20px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-right: 80px;
    padding-top: 20px;
    text-align: center;
    color:rgb(25, 0, 255);
}
table,th, td{
    border:1px solid black;
    border-collapse: collapse;
    margin: auto;
    font-size: 15px;
}
